body {
    padding-top: 50px;
    background-color: red;

}

footer {
    padding: 20px;

}


header{

}



#search{
	margin-top:40px;
	margin-left:35%;
	width:300px;
	border:1px solid blue;

}

.boutton{
	
	margin-left: 35%;
	margin-top:20px;
	height:30px;
	width:300px;
}
